@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-BlackItalic.woff2') format('woff2'),
        url('SilkSerif-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Black.woff2') format('woff2'),
        url('SilkSerif-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Bold.woff2') format('woff2'),
        url('SilkSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-ExtraLightItalic.woff2') format('woff2'),
        url('SilkSerif-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-ExtraLight.woff2') format('woff2'),
        url('SilkSerif-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-BoldItalic.woff2') format('woff2'),
        url('SilkSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-MediumItalic.woff2') format('woff2'),
        url('SilkSerif-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-LightItalic.woff2') format('woff2'),
        url('SilkSerif-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Light.woff2') format('woff2'),
        url('SilkSerif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Medium.woff2') format('woff2'),
        url('SilkSerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-SemiBoldItalic.woff2') format('woff2'),
        url('SilkSerif-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Italic.woff2') format('woff2'),
        url('SilkSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Regular.woff2') format('woff2'),
        url('SilkSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-SemiBold.woff2') format('woff2'),
        url('SilkSerif-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

